ruby:
  class Entree
    attr_reader :name, :category

    def initialize(name, category: :misc, has_sides: false, seasonal: false)
      @name = name
      @category = category.to_s
      @has_sides = has_sides
      @seasonal = seasonal
    end

    def has_sides?
      @has_sides
    end

    def seasonal?
      @seasonal
    end
  end

  all_entrees = [
    Entree.new('Shrimp Etouffee', category: :seafood, seasonal: true),
    Entree.new('Chicken and Sausage Gumbo', seasonal: true),
    Entree.new('Pork and Sausage Gravy', category: :gravy),
    Entree.new('Beef and Sausage Gravy', category: :gravy),
    Entree.new('Smoked Chicken', has_sides: true, category: :bbq),
    Entree.new('BBQ Platter', has_sides: true, category: :bbq),
    Entree.new('Red Beans and Rice', category: :gravy),
    Entree.new('Pulled Buffalo Chicken Sandwiches', has_sides: true),
    Entree.new('Chicken Tikka Masala'),
    Entree.new('Mongolian Chicken'),
    Entree.new('Hot Dogs', has_sides: true, category: "Quick 'n Easy"),
    Entree.new('Pizza', category: "Quick 'n Easy"),
    Entree.new('Chicken, Sausage, and Potato Wraps'),
    Entree.new('Roasted Chicken', has_sides: true),
    Entree.new('Fried Catfish Nuggets', has_sides: true, category: :seafood),
    Entree.new('Fried Shrimp', has_sides: true, category: :seafood, seasonal: true),
    Entree.new('French Bread Sandwich (Turkey w/ Gravy)', has_sides: true, category: "Quick 'n Easy"),
    Entree.new('BBQ Ribs', has_sides: true, category: :bbq),
    Entree.new('Pressure Cooked Chicken', has_sides: true),
    Entree.new('Chicken and Sausage with Cream of Mushroom Soup'),
    Entree.new('Chicken and Sausage Jumbalaya')
  ]

  sides = [
    'Baked Beans',
    'Chips',
    'Corn',
    'French Fries',
    'Mashed Potatoes',
    'Potato Salad',
    'Rice Dressing',
    'Roasted Potatoes',
    'Salad',
    'Tater Tots',
    'Texas Toast'
  ]

  holiday_specials = [
    'Baked Ham',
    'Roasted Turkey',
    'Smoked Ham',
    'Smoked Turkey'
  ]
doctype html
html
  head
    title House of Thibodeaux
    link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"
    css:
      body { font-size: .8em; }
  body
    .container
      .row
        .col-md-8
          table.table.table-striped.table-sm
            - all_entrees.group_by(&:category).sort_by(&:first).each do |category, entrees|
              tr
                th= category.upcase
                th width="20%"
              - entrees.sort_by(&:name).each do |entree|
                tr
                  td
                    = entree.name
                    - if entree.seasonal?
                      span *
                  td
                    - if entree.has_sides?
                      | + Sides
          | * Seasonal
        .col-md-4
          table.table.table-striped.table-sm
            tr
              th Sides
            - sides.sort.each do |side|
              tr
                td= side
          table.table.table-striped.table-sm
            tr
              th Holiday Specials
            - holiday_specials.sort.each do |special|
              tr
                td= special
